.block {
    height: 600px;
}
.block_flex {
    display: flex;
    background-color: blue;

}
.box {
    flex: 0 0 200px;
    background-color: pink;
    color: burlywood;
    display: flex;
    align-items: center;
}
